<div class="formDiv" *ngIf="phone">
  <label for="marca">marca Name: </label>
  <input id="marca" class="formInput" [(ngModel)]="phone.marca" placeholder="marca">
  <label for="Modelo">Modelo Name: </label>
  <input id="Modelo"   class="formInput" [(ngModel)]="phone.modelo" placeholder="Modelo">
  <label for="Gbalmacenamiento">Gbalmacenamiento: </label>
  <input id="Gbalmacenamiento" class="formInput" [(ngModel)]="phone.gbalmacenamiento" placeholder="Gbalmacenamiento">
  <label for="Gbram">Gbram Number: </label>
  <input id="Gbram"  class="formInput" [(ngModel)]="phone.gbram" placeholder="Gbram">
  <label for="Core_id">Core_id Number: </label>
  <input id="Core_id"  class="formInput" [(ngModel)]="phone.core_id" placeholder="Core_id">
  <label for="Accessory_ids">Accessory_ids Name: </label>
  <input id="Accessory_ids"  class="formInput" [(ngModel)]="accessory_ids_input" placeholder="Accessory_ids">
</div>

<div class="ButtonsContainer">
  <button type="button"  class="add-button" (click)="add()">save</button>
  <button type="button" class="delete-button" (click)="goBack()">go back</button>
  </div>
<!---<h2>manage phones</h2>
  <ul class="phones">
    <li *ngFor="let phone of phones">
      <a routerLink="/detail/{{phone.id}}">
        <span class="badge">{{phone.marca}}</span> {{phone.modelo}}
      </a>
      <button type="button" class="delete" title="delete"
        (click)="delete(phone)">x</button>
    </li>
  </ul>--->