<h2>Login Form</h2>


  <!-- login.component.html -->
  <div class="imgcontainer">
    <img src="../../assets/img_avatar2.png" alt="Avatar" class="avatar">
  </div>

<div class="login">
    <form class="custom-form" method="post">
      <h1>Login</h1>
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required="required"
      />

      <div *ngIf="errorMessage" class="error-message">{{errorMessage}}</div>
      
      <button type="submit" (click)="login()">Log in</button>
      <button type="submit" (click)="goRegister()">Register</button>

    </form>
  </div>
