
<div class="formDiv" *ngIf="currentAcc">
    <label for="name">accessory Name: </label>
    <input id="name" class="formInput" [(ngModel)]="currentAcc.accessory_name" placeholder="name">
    <label for="price">price: </label>
    <input id="price" class="formInput" [(ngModel)]="currentAcc.price" placeholder="Frequency">
    <label for="Brand">Brand Name: </label>
    <input id="Brand"   class="formInput" [(ngModel)]="currentAcc.brand" placeholder="Brand">
    <label for="description">description : </label>
    <input id="description"   class="formInput" [(ngModel)]="currentAcc.description" placeholder="Brand">


</div>