<div *ngIf="phone">
    <h2>{{phone.modelo | uppercase}} Detalles</h2>
    <div><span>Id: </span>{{phone.id}}</div>
    <div><span>marca: </span>{{phone.marca}}</div>
    <div><span>modelo: </span>{{phone.modelo}}</div>
    <div><span>almacenamiento: </span>{{phone.gbalmacenamiento}}</div>
    <div><span>core: </span>{{phone.core.Nombre}}</div>
    <h3>Accessories</h3>
    <ul *ngFor="let acc of phone.accessories">
      <div class="accContainer">
      <li>{{acc.accessory_name}}</li>
      </div>
    </ul>
    <div></div>
    <button type="button" (click)="goBack()">Volver</button>
    <button type="button" routerLink="/editphone/{{phone.id}}">Editar</button>

</div>