<p>phones-detail works!</p>
<div *ngIf="phone">
    <h2>{{phone.modelo | uppercase}} Detalles</h2>
    <div><span>Id: </span>{{phone.id}}</div>
    <div><span>marca: </span>{{phone.marca}}</div>
    <div><span>modelo: </span>{{phone.modelo}}</div>
    <div><span>almacenamiento: </span>{{phone.gbalmacenamiento}}</div>
    <div>
      <label for="phone-model">phone : </label>
      <input id="phone-model" [(ngModel)]="phone.modelo" placeholder="phone"/>
    </div>
    <button type="button" (click)="goBack()">Volver</button>
  </div>