<div class="register">
  <form class="custom-form" method="post">
    <h1>Register</h1>
    <input
      type="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Email"
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Password"
      required="required"
      required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
    />
    <input
      type="text"
      [(ngModel)]="name"
      name="name"
      placeholder="name"
      required="required"
    />

    <input
    type="text"
    [(ngModel)]="userPermissions"
    name="permission"
    placeholder="permission"
    required="required"
  />
    <button type="submit" (click)="register()">Register</button>
  </form>
</div>